@charset "UTF-8";

div.main1 {border:1px solid red; background-color: rgba(50, 50, 10, 0.1); }

div.box2 {border:4px solid lime; height: 650px; background-color: rgba(200, 0, 50, 0.3); position: relative; }

   .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
   z-index: 5;
}

p {
  text-align:center; 
  line-height: 95%;
  position: fixed; 
  z-index: 10; 
}
  
   .fixed p {
  text-align:center;
  line-height: 95%;
  position: fixed;
  z-index: 10;    
}

.box3 img{
  border:2px solid blue;
  position: absolute;
  width: 90%;
　margin: auto;
　z-index: -10;
}

.box3 .店内1 {
 margin: auto;
　z-index: -10;
}
